<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <SnippetTypes>
                <SnippetType>Expansion</SnippetType>
            </SnippetTypes>
            <Title>Region</Title>
            <Author>Raphael Wu</Author>
            <Description>程式代碼區塊</Description>
            <HelpUrl></HelpUrl>
            <Shortcut>region</Shortcut>
        </Header>
        <Snippet>
            <Code Language="csharp" Delimiter="$">
                <![CDATA[
#region xxx

#endregion
                ]]>
            </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>